.logo__container {
    display: flex;
    width: 25vw;
    z-index: 0;
    position: absolute;
    top: 10%;
    right: 25%;
    left: auto;
    margin: auto;
    opacity: 0;
}

.logo__outline,
.logo__solid {
    position: absolute;
    top:0;
    right:0;
}

.logo__solid {
   // opacity: 0;
    width: 100%;
    transform: rotateZ(-30deg);

}

.logo__outline {
    width: 100%;
    opacity: 0;
    width: 100%;
    transform: rotateZ(-30deg);
}


.svg__container {
    stroke: #f27777;
    stroke-width: 2px;
}