@use "../../variables.scss";

.list__work {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (min-width: 623px) {
    .list__work {

        justify-content: center;
        align-items: center;

        .li_work_img {
            width: 33%;
        }
        .li__work {
           flex-direction: row;
        }

        .li_work_text {
            width: 67%;
        }    

    }
}