@import "../../variables.scss";

.home-page {
    
    .backbutton__wrapper {
        display: flex;
        justify-content: flex-end;
    }

    .flat-button {
        text-decoration: none;
        color: $color_white;
        text-align: center;
        width: 7em;
        border: 1px solid $color_02;
        display: flex;
        justify-content: center;
        margin-top: 5em;
        padding: .75em 2em;
        border-radius: 100px;
        animation: fadeIn 1s 1.8s backwards;
     
        &:hover {
            color: $color_02;
            opacity: 0.8;
        }
    }
}

